- content_for(:title, "Business Page")
- content_for(:page_heading) do
  %header.main_business
    %div.content
      %div.left
        %h4= @business.name
        %div.business-review-summary
          %div{ class: "stars stars-show-big stars-show-#{ (@business.rating * 10).round }" }
          %span= "#{@business.reviews.count} Reviews"
          %p
            - @business.expense.times do
              $
            \-
            - @business.categories.each do |category|
              %span= category.name.titleize
      %div.right
        = link_to "#" do
          = fa_icon 'star'
          %span Write A Review
        %div.business-address
          %p.address.line-1= @business.address_first_line
          %p.address.city= "#{@business.city}, #{@business.post_code}"
          %p.address.phone= @business.phone_number
- if @business.reviews.any?
  %div.reviews-index
    %h3 Recent Reviews
    %ul.reviews-list
      - @business.reviews.each do |review|
        %li
          %div.reviews-body
            %div.reviews-left
              = review.user.avatar.blank? ? image_tag("avatar") : image_tag(review.user.avatar)
              = link_to("#") do
                %p= review.user.full_name
              %p= review.user.city
              = fa_icon "star"
              %span= "#{review.user.reviews.count} Reviews"
            %div.reviews-right
              %div{ class: "stars stars-show stars-show-#{review.rating * 10}" }
              %div.review
                %p= review.body
      