= render 'shared/errors', obj: user
= form_for user do |f|
  %h3 Sign Up for Yelp
  %p
    Connect with great local businesses
  %fieldset
    %div.form-grouping.name
      = f.label :first_name, "First Name"
      = f.text_field :first_name, placeholder: "e.g. John"
    %div.form-grouping.name
      = f.label :last_name, "Surname"
      = f.text_field :last_name, placeholder: "e.g. Alexander"
    = f.label :email
    = f.email_field :email, placeholder: "j.alex@example.com"
    = f.label :avatar, "Profile Image URL (optional)"
    = f.url_field :avatar, placeholder: Faker::Avatar.image
    = f.label :city
    = f.text_field :city, placeholder: "e.g. Birmingham"
    = f.label :post_code, "Post Code"
    = f.text_field :post_code, placeholder: "e.g. BR1 XX0"
    = f.label :password
    = f.password_field :password
  = f.button :Register
  %div
    %small
      Already on Yelp?
      =link_to "Log In", login_path