- content_for(:title, "User Profile")
- content_for(:page_heading) do
  %header.main_user_banner
    %div.content#user_banner
      = !@user.avatar.blank? ? image_tag(@user.avatar) : image_tag("/images/avatar.png")
      %header
        %h1
          = @user.full_name
        %p
          = @user.city
        %p
          = fa_icon "star"
          %span= pluralize(@user.reviews.count, "Review")
- if @user.reviews.any?
  %div.reviews-index.user
    %h3 Recent Reviews
    %ul.reviews-list
      - @user.reviews.each do |review|
        = render 'reviews/review', { review: review, show_user: false }
      

