- content_for(:title, "User Profile")
- content_for(:page_heading) do
  %header.main_user_banner
    %div.content#user_banner
      = !@user.avatar.blank? ? image_tag(@user.avatar) : image_tag("avatar")
      %header
        %h1
          = @user.full_name
        %p
          = @user.city
        %p
          = fa_icon "star"
          %span= "#{@user.reviews.count} Reviews"
- if @user.reviews.any?
  %div.reviews-index.user
    %h3 Recent Reviews
    %ul.reviews-list
      - @user.reviews .each do |review|
        %li
          %div.reviews-body
            %div.reviews-right.user
              %div.business-review-summary
                = link_to(review.business) do
                  %h3= review.business.name
              %div.business-address
                %p.address= "#{review.business.address_first_line}, #{review.business.city}"
              %div{ class: "stars stars-show stars-show-#{review.rating * 10}"}
              %div.review
                %p= review.body
      
      

